#content{
    max-width: 1600;
    text-align: center;
    margin: 0 auto;
    color: #2B193D;
    background-color: antiquewhite;
}
#background {
    height: 725px;
    background-color: #484D6D;
}
body{
    background-color: antiquewhite;
}
header{
    background-color: #484D6D;
}
nav a:link{
    background-color: antiquewhite;
    color: grey;
}

.msg{
    background-color: #484D6D;
    color: white;
}

footer{
    background-color: #484D6D;
    color: white;
    font-size:medium;
    text-align: left;
}

.icon{
    width: 80px;
}