#content{
    max-width: 1600;
    text-align: center;
    margin: 0 auto;
    color: #2B193D;
    background-color:#2B193D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-self: center;
    align-content: center;
}
body{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color: #484D6D;
    font-family: fantasy;
}
nav{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    background-color: #d9c2a3;
}
nav a:link{
    color: grey;
    font-family: fantasy;
} 

.home-grid{
    align-items: center;
    align-self: center;
    align-content: center;
}

.container {
    position: relative;
    width: 50%;
} 
  .image {
    opacity: 1;
    width: 50%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    font-family: fantasy;
    border-style: double;
    border-color: black;
    background-color:antiquewhite;
    color:#2B193D;
    font-size: 16px;
    padding: 16px 32px;
  }